<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground 2</title>
    <link rel="stylesheet" type="text/css" 
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome!</h1>
    <div id="container">
        {%for boxes in range(repeat_boxes)%}
        <div class="box">
            {% if boxes % 2 == 1 %}
                <img src="{{ url_for('static', filename='dog.jpeg') }}" id="dog" alt="australian shepeard">
                {% else %}
                <img src="{{ url_for('static', filename='dog1.jpeg') }}" id="dog" alt="australian shepeard">
            {% endif %}
            {% if boxes % 10 == 5%}
            <img src="{{ url_for('static', filename='german.jpeg') }}" id="dog" alt="german shepeard">
            {% endif %}
        </div> 
        {%endfor%}
    </div>
    
</body>
</html>