* {
    padding: 0;
    margin: 0;
}

h1 {
    color: black;
    font-size: 4rem;
    margin-top: 20px;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
}

.box {
    height: 150px;
    width: 150px;
    margin: 40px;
    border-radius: 8px;
    border: 2px solid black;
    /* transition: transform .2s ease-in-out; */
    background-color: blue;
    animation-name: move;
    animation: move 2s linear infinite;

}


@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-400px);
    }

    100% {
        transform: translateX(0);
    }
}

.box-2 {
    height: 150px;
    width: 150px;
    margin: 40px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: orange;
    animation-name: moveDownUp;
    animation: moveDownUp 3s linear infinite;
}

@keyframes moveDownUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(500px);
    }
}

.box-3 {
    height: 150px;
    width: 150px;
    margin: 40px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: red;
    animation-name: rotate;
    animation-duration: 5000ms;
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: linear; */
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0%{
        transform: translateX(0)rotate(0deg);
    }

    50%{
        transform: translateX(400px)rotate(360deg);
    }

    100%{
        transform: translateX(0)rotate(-120deg);
    }
}
